/* Other existing CSS styles */

.frame-group {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xl);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: whitesmoke;
  z-index: 1000;

  /* align-self: stretch; */
    /* position: fixed; */
    /* justify-content: space-between; */
    /* padding: 0 0 0 var(--padding-5xl); */
    gap: var(--gap-xl);
}

body {
  padding-top: 64px; /* Adjust this value based on the height of your header */
}


.vector-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.dc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20.4px 0 0;
}

/* Other existing CSS styles */





.experience-icon {
    width: 430px;
    height: 202.9px;
    position: absolute;
    margin: 0 !important;
    top: 1643px;
    /* top: 1480px; */
    /* right: 0px; */
    right: -138px;
  }


  .dc-icon {
    width: 44.8px;
    height: 23.2px;
    position: relative;
    flex-shrink: 0;
  }
  
  .dc-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20.4px 0 0;
  }
  
  .frame-child,
  .frame-inner,
  .frame-item {
    width: 14px;
    height: 2px;
    position: relative;
    right: 10px;
  }
  
  .frame-inner,
  .frame-item {
    width: 11px;
  }
  
  .frame-inner {
    width: 14px;
  }
  
  .vector-parent {
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .frame-group,
  .frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .frame-wrapper {
    background-color: var(--color-gray-200);
    overflow: hidden;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-6xl);
    flex-shrink: 0;
    flex-direction: row;
  }
  
  .frame-group {
    align-self: stretch;
    /* position: fixed; */
    justify-content: space-between;
    padding: 0 0 0 var(--padding-5xl);
    gap: var(--gap-xl);
    /* z-index: 1000; */
  }
  
  .layer-3-1 {
    height: 366px;
    width: 375px;
    position: relative;
    object-fit: cover;
    display: none;
    max-width: 100%;
  }
  
  .portfolio-icon {
    height: 218px;
    width: 269px;
    position: relative;
    z-index: 1;
  }
  
  .frame-parent,
  .layer-3-1-parent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .layer-3-1-parent {
    flex-direction: row;
    align-items: flex-start;
    padding: 148px var(--padding-5xl) 0;
    box-sizing: border-box;
    background-image: url(./public/layer-3-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  
  .frame-parent {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .chauhan,
  .dhruvilsinh {
    margin: 0;
  }
  
  .dhruvilsinh-chauhan {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-family: inherit;
  }
  
  .connect-now {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 110px;
  }
  
  .mdigithub-icon,
  .mdigmail-icon,
  .mdilinkedin-icon {
    height: 32px;
    width: 32px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 32px;
  }
  
  .connect-now-parent,
  .contact-details,
  .contact-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .contact-icons {
    flex-direction: row;
    gap: var(--gap-5xs);
  }
  
  .connect-now-parent,
  .contact-details {
    flex-direction: column;
  }
  
  .connect-now-parent {
    gap: var(--gap-5xs);
    font-size: var(--font-size-base);
    color: var(--color-black);
  }
  
  .contact-details {
    gap: var(--gap-base);
  }
  
  .lorem-ipsum-dolor {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-base);
    line-height: 24px;
    color: var(--color-black);
  }
  
  .contact-details-parent,
  .weboriginal-interface-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .contact-details-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  
  .weboriginal-interface-inner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-5xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: #1a1a1a;
    font-family: var(--font-montserrat);
  }
  
  .interest-icon {
    position: absolute;
    top: 29px;
    /* left: 83px; */
    right: 0px;
    width: 327px;
    height: 203px;
  }
  
  .interests {
    position: relative;
    font-weight: 700;
    display: inline-block;
    min-width: 111px;
  }
  
  .interest-item-values {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .artificial-intelligence {
    position: relative;
    font-weight: 600;
  }
  
  .interest-item-headers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .interest-item-headers-child {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep {
    position: relative;
    font-weight: 600;
  }
  
  .interest-item-headers1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .interest-item-headers-item {
    height: 24px;
    width: 24px;
    position:relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .computer-vision {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 121px;
  }
  
  .interest-item-headers2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .interest-item-headers-inner {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .mp {
    position: relative;
    font-weight: 600;
    display: inline-block;
    min-width: 24px;
  }
  
  .interest-item-headers3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .interest-items,
  .interests-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .interest-items {
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
  }
  
  .interests-parent {
    gap: var(--gap-base);
  }
  
  .education {
    position: relative;
    font-weight: 700;
    display: inline-block;
    min-width: 129px;
  }
  
  .btech-computer-science {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  
  .education-item-separators {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    display: inline-block;
    min-width: 50px;
  }
  
  .education-item-values {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .government-engineering-college {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-gray-100);
  }
  
  .education-item-headers {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .b,
  .intermediate {
    position: relative;
    font-weight: 600;
  }
  
  .intermediate {
    align-self: stretch;
  }
  
  .b {
    font-size: var(--font-size-xs);
    display: inline-block;
    min-width: 47px;
  }
  
  .intermediate-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .government-engineering-college1 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-gray-100);
  }
  
  .education-item-headers1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .b1,
  .matriculate {
    position: relative;
    font-weight: 600;
  }
  
  .matriculate {
    align-self: stretch;
  }
  
  .b1 {
    font-size: var(--font-size-xs);
    display: inline-block;
    min-width: 44px;
  }
  
  .matriculate-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .government-engineering-college2 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-gray-100);
  }
  
  .education-item-headers2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .education-list {
    align-self: stretch;
    gap: var(--gap-5xl);
    font-size: var(--font-size-xl);
  }
  
  .education-list,
  .education-parent,
  .interest-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .education-parent {
    align-self: stretch;
    gap: var(--gap-base);
  }
  
  .interest-list {
    position: absolute;
    top: 48px;
    left: 24px;
    width: 327px;
    padding: 0 4px 0 0;
    box-sizing: border-box;
    gap: var(--gap-45xl);
    z-index: 1;
  }
  
  .interest-parent {
    height: 679px;
    flex: 1;
    position: relative;
    background-color: var(--color-gray-200);
    overflow: hidden;
    max-width: 100%;
  }
  
  .weboriginal-interface-child {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-22xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  
  .experience {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  
  .software-engineer-internship {
    align-self: stretch;
    position: relative;
    font-weight: 600;
  }
  
  .internship-separator {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    display: inline-block;
    min-width: 50px;
  }
  
  .experience-details {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .cligent-technologies {
    align-self: stretch;
    position: relative;
    font-weight: 800;
  }
  
  .experience-sub-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .skills-list-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep1 {
    position: relative;
    font-weight: 600;
  }
  
  .experience-skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
  }
  
  .experience-item-list,
  .experience-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .experience-item-list {
    gap: var(--gap-5xs);
    font-size: var(--font-size-base);
  }
  
  .experience-parent {
    gap: var(--gap-13xl);
  }
  
  .software-engineer-internship1 {
    align-self: stretch;
    position: relative;
    font-weight: 600;
  }
  
  .b2 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    display: inline-block;
    min-width: 50px;
  }
  
  .software-engineer-internship-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var (--gap-9xs);
  }
  
  .cligent-technologies1 {
    align-self: stretch;
    position: relative;
    font-weight: 800;
  }
  
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var (--gap-5xs);
  }
  
  .frame-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep2 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
  }
  
  .experience-list,
  .experience-list-wrapper,
  .frame-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-container {
    align-self: stretch;
    flex-direction: column;
    gap: var(--gap-5xs);
    font-size: var(--font-size-base);
  }
  
  .experience-list,
  .experience-list-wrapper
  {
    max-width: 100%;
  }
  
  .experience-list {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
    z-index: 1;
  }
  
  .experience-list-wrapper {
    align-self: stretch;
    flex-direction: row;
    padding: 0 28px var(--padding-22xl) var(--padding-5xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-gray-200);
    font-family: var(--font-montserrat);
  }
  
  .skills {
    position: relative;
    font-weight: 700;
    display: inline-block;
    min-width: 66px;
    z-index: 1;
  }
  
  .skills-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
  .skills-icon {
    height: 191.5px;
    width: 283.2px;
    position: absolute;
    margin: 0 !important;
    top: -131px;
    right: -55.2px;
  }
  
  .skills-item-types {
    width: 79px;
    height: 80px;
    position: relative;
  }
  
  .languages-database {
    position: relative;
  }
  
  .phython-java-html {
    margin: 0;
    width: 185px;
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-gray-100);
    display: inline-block;
  }
  
  .skills-sub-item-values {
    align-self: stretch;
    gap: var(--gap-5xs);
  }
  
  .skills-item-values,
  .skills-sub-item-values,
  .skills-sub-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .skills-sub-items {
    align-self: stretch;
  }
  
  .skills-item-values {
    flex: 1;
    gap: var(--gap-5xl);
  }
  
  .skills-item-headers {
    align-self: stretch;
    border-radius: var(--br-45xl);
    background-color: var(--color-gray-300);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px var(--padding-8xl) var(--padding-22xl);
  }
  
  .vector-icon {
    width: 80px;
    height: 80px;
  }
  
  .git-power-bi,
  .tools-technologies,
  .vector-icon {
    position: relative;
  }
  
  .git-power-bi {
    align-self: stretch;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-gray-100);
  }
  
  .tools-technologies-parent {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .frame-wrapper1,
  .tools-technologies-parent {
    align-self: stretch;
    flex-direction: column;
    align-items: center;
  }
  
  .frame-wrapper1,
  .skills-item-headers1,
  .vector-group {
    display: flex;
    justify-content: flex-start;
  }
  
  .vector-group {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-5xl);
  }
  
  .skills-item-headers1 {
    align-self: stretch;
    border-radius: var(--br-45xl);
    background-color: var(--color-gray-300);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    padding: 48.5px 31px 49.5px;
  }
  
  .vector-icon1 {
    width: 80px;
    height: 77px;
  }
  
  .frameworks-libraries,
  .vector-icon1 {
    position: relative;
  }
  
  .tensorflow-keras-scipy {
    width: 185px;
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-gray-100);
    white-space: pre-wrap;
    display: inline-block;
  }
  
  .frameworks-libraries-parent {
    align-self: stretch;
    gap: var(--gap-5xs);
  }
  
  .frame-wrapper2,
  .frameworks-libraries-parent,
  .vector-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .frame-wrapper2 {
    align-self: stretch;
  }
  
  .vector-container {
    flex: 1;
    gap: var(--gap-5xl);
  }
  
  .skills-item-headers2 {
    align-self: stretch;
    border-radius: var(--br-45xl);
    background-color: var(--color-gray-300);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 41.5px var(--padding-6xl) 42.5px;
  }
  
  .skills-items {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
    z-index: 1;
  }
  
  .frame-parent2,
  .frame-section,
  .skills-items,
  .skills-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .skills-parent {
    align-self: stretch;
    flex-direction: row;
    position: relative;
    text-align: center;
    font-size: var(--font-size-base);
  }
  
  .frame-parent2,
  .frame-section {
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .frame-parent2 {
    flex: 1;
    background-color: var(--color-gray-200);
    overflow: hidden;
    flex-direction: column;
    padding: 99px 64px;
    gap: var(--gap-13xl);
  }
  
  .frame-section {
    align-self: stretch;
    flex-direction: row;
    padding: 0 0 var(--padding-base);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-montserrat);
  }
  
  .projects {
    position: relative;
    font-weight: 700;
    display: inline-block;
    min-width: 104px;
    z-index: 1;
  }
  
  .projects-icon {
    height: 204.9px;
    width: 341px;
    position: absolute;
    margin: 0 !important;
    top: -75px;
    right: -20px;
    /* right: -49px; */
  }
  
  .image-2-icon {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-5xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  
  .ariva-adaptive-reading-and {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 800;
  }
  
  .lorem-ipsum-dolor1 {
    margin: 0;
    width: 242px;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .project-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .project-item-headers,
  .project-item-values {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  
  .project-item-headers {
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.12);
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
    gap: var(--gap-base);
  }
  
  .image-2-icon1 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-5xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  
  .ariva-adaptive-reading-and1 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 800;
  }
  
  .lorem-ipsum-dolor2 {
    margin: 0;
    width: 242px;
    position: relative;
    font-size: var(--font-size-sm);
    color: var (--color-black);
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .ariva-adaptive-reading-and-int-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .project-item-headers-inner,
  .project-item-headers1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  
  .project-item-headers1 {
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.12);
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
    gap: var(--gap-base);
  }
  
  .image-2-icon2 {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-5xl);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  
  .ariva-adaptive-reading-and2 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 800;
  }
  
  .lorem-ipsum-dolor3 {
    margin: 0;
    width: 242px;
    position: relative;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .ariva-adaptive-reading-and-int-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .project-item-headers-child,
  .project-item-headers2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xs);
  }
  
  .project-item-headers2 {
    box-shadow: 0 4px 48px rgba(0, 0, 0, 0.12);
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-base);
    gap: var (--gap-base);
  }
  
  .project-items {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xl);
    z-index: 1;
  }
  
  .project-items,
  .project-list,
  .projects-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  
  .project-list {
    align-self: stretch;
    flex-direction: row;
    position: relative;
    font-size: var(--font-size-base);
  }
  
  .projects-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  
  .view-more,
  .weboriginal-interface-inner1 {
    font-family: var(--font-montserrat);
    text-align: left;
  }
  
  .weboriginal-interface-inner1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-5xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-5xl);
    color: var(--color-gray-200);
  }
  
  .view-more {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-white);
    display: inline-block;
    min-width: 78px;
  }
  
  .view-more-button,
  .view-more-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .view-more-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--color-gray-200);
    border-radius: var(--br-481xl);
    justify-content: flex-start;
    white-space: nowrap;
  }
  
  .view-more-button {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  
  .honours-and-awards {
    position: absolute;
    top: 29px;
    left: calc(50% - 128.5px);
    width: 680.5px;
    height: 346px;
  }
  
  .awards,
  .honours-and {
    margin: 0;
  }
  
  .honours-and-awards-container {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  
  .deep-learning1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-8xl);
  }
  
  .deep-learning {
    position: relative;
    font-weight: 700;
  }
  
  .coursera-aug-2024 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-gray-100);
    padding-left: 28px;
  }
  
  .award-sub-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .completed-5-courses {
    align-self: stretch;
    position: relative;
    font-weight: 600;
  }
  
  .machine-learning-skills {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep3 {
    position: relative;
    font-weight: 600;
  }
  
  .machine-learning-skills-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .skill-description-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep4 {
    position: relative;
    font-weight: 600;
  }
  
  .skill-description-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .skill-description-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep5 {
    position: relative;
    font-weight: 600;
  }
  
  .skill-description-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .award-item-details,
  .frame-parent3,
  .learning-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-parent3 {
    gap: var(--gap-5xs);
    color: var(--color-gray-100);
  }
  
  .award-item-details,
  .learning-description {
    align-self: stretch;
  }
  
  .learning-description {
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  
  .award-item-details {
    gap: var(--gap-base);
  }
  
  .mdieye-icon {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .view-certificate {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-montserrat);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 113px;
  }
  
  .certificate-link {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--color-gray-200);
    border-radius: var(--br-481xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  
  .award-item-headers,
  .award-item-values {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .award-item-values {
    gap: var(--gap-xl);
  }
  
  .award-item-headers {
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    overflow: hidden;
    padding: var(--padding-xl);
  }
  
  .deep-learning3 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-8xl);
  }
  
  .deep-learning2 {
    position: relative;
    font-weight: 700;
  }
  
  .coursera-aug-20241 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-gray-100);
    padding-left: 28px;
  }
  
  .deep-learning-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .completed-5-courses1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-weight: 600;
  }
  
  .frame-child1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep6 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .frame-child2 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep7 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .frame-child3 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep8 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .completed-5-courses-in-the-dee-parent,
  .frame-parent5,
  .frame-parent6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-parent6 {
    gap: var(--gap-5xs);
    color: var(--color-gray-100);
  }
  
  .completed-5-courses-in-the-dee-parent,
  .frame-parent5 {
    align-self: stretch;
  }
  
  .completed-5-courses-in-the-dee-parent {
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  
  .frame-parent5 {
    gap: var(--gap-base);
  }
  
  .mdieye-icon1 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .view-certificate1 {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-montserrat);
    color: var (--color-white);
    text-align: left;
    display: inline-block;
    min-width: 113px;
  }
  
  .mdieye-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--color-gray-200);
    border-radius: var(--br-481xl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  
  .award-item-headers1,
  .frame-parent4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-parent4 {
    gap: var(--gap-xl);
  }
  
  .award-item-headers1 {
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    overflow: hidden;
    padding: var(--padding-xl);
  }
  
  .deep-learning5 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-8xl);
  }
  
  .deep-learning4 {
    position: relative;
    font-weight: 700;
  }
  
  .coursera-aug-20242 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    color: var(--color-gray-100);
    padding-left: 28px;
  }
  
  .deep-learning-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  
  .completed-5-courses2 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-weight: 600;
  }
  
  .frame-child4 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep9 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .frame-child5 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep10 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent14 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .frame-child6 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .machine-deep11 {
    position: relative;
    font-weight: 600;
  }
  
  .frame-parent15 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  
  .completed-5-courses-in-the-dee-group,
  .frame-parent11,
  .frame-parent12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .frame-parent12 {
    gap: var(--gap-5xs);
    color: var(--color-gray-100);
  }
  
  .completed-5-courses-in-the-dee-group,
  .frame-parent11 {
    align-self: stretch;
  }
  
  .completed-5-courses-in-the-dee-group {
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
  }
  
  .frame-parent11 {
    gap: var(--gap-base);
  }
  
  .mdieye-icon2 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  
  .view-certificate2 {
    position: relative;
    font-size: var(--font-size-sm);
    font-weight: 600;
    font-family: var(--font-montserrat);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 113px;
  }
  
  .frame-parent10,
  .mdieye-group {
    display: flex;
    justify-content: flex-start;
  }
  
  .mdieye-group {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) var(--padding-5xl);
    background-color: var(--color-gray-200);
    border-radius: var(--br-481xl);
    flex-direction: row;
    align-items: center;
    gap: var(--gap-3xs);
    white-space: nowrap;
  }
  
  .frame-parent10 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-xl);
  }
  
  .award-item-headers2 {
    align-self: stretch;
    border-radius: var(--br-13xl);
    background-color: var(--color-white);
    overflow: hidden;
    padding: var(--padding-xl);
  }
  
  .award-item-headers2,
  .award-items,
  .awards-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .award-items {
    align-self: stretch;
    gap: var(--gap-5xl);
    font-size: var(--font-size-xl);
    color: var(--color-gray-200);
  }
  
  .awards-list {
    position: relative;
    width: 100%;
    gap: var(--gap-13xl);
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .honours-and-awards-parent {
    align-self: stretch;
    height: auto;
    position: relative;
    background-color: var(--color-gray-200);
    overflow: hidden;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .view-more-button-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px var(--padding-13xl);
    gap: 31px;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-montserrat);
    box-sizing: border-box;
    width: 100%;
  }
  
  .contact-now,
  .name {
    position: relative;
    display: inline-block;
  }
  
  .contact-now {
    margin: 0;
    width: 162px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  
  .name {
    font-weight: 600;
    min-width: 44px;
  }
  
  .field-inputs {
    border: 1px solid var(--color-whitesmoke-200);
    outline: 0;
    background-color: var(--color-whitesmoke-100);
    align-self: stretch;
    height: 48px;
    position: relative;
    border-radius: var(--br-base);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 196px;
    padding: 10px; /* Added padding to ensure the placeholder is visible */
  }
  
  .field-labels {
    align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.email {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 41px;
}

.field-labels-child {
  align-self: stretch;
  height: 48px;
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}

.field-labels1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.message {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 64px;
}

.field-labels-item {
  border: 1px solid var(--color-whitesmoke-200);
  background-color: var(--color-whitesmoke-100);
  height: 120px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-base);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 10px; /* Ensure placeholder is visible */
  resize: none; /* Prevent resizing */
}

.field-labels2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-5xs);
}

.submit {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 53px;
}

.submit-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-481xl);
  flex-direction: row;
}

.contact-form,
.contact-form-wrapper,
.form-fields,
.submit-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.form-fields {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
}

.contact-form,
.contact-form-wrapper {
  max-width: 100%;
}

.contact-form {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}

.contact-form-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl) var(--padding-13xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 32px;
  color: var(--color-gray-200);
  font-family: var(--font-montserrat);
}

.dc-icon1 {
  position: absolute;
  top: 24px;
  left: 28px;
  width: 319px;
  height: 165px;
}

.important,
.links {
  margin: 0;
}

.important-links {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}

.connect-now1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 110px;
}

.mdigithub-icon1,
.mdigmail-icon1,
.mdilinkedin-icon1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.important-links-parent,
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.social-links {
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}

.important-links-parent {
  gap: var(--gap-base);
}

.back-to-top {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 83px;
}

.mingcutearrow-up-fill-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.back-to-top-parent,
.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.back-to-top-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-white);
  border-radius: var(--br-481xl);
  flex-direction: row;
  gap: var(--gap-3xs);
  white-space: nowrap;
}

.footer-content {
  position: absolute;
  top: calc(50% - 139.5px);
  left: calc(50% - 106.5px);
  flex-direction: column;
  gap: var(--gap-45xl);
  z-index: 1;
}

.footer,
.weboriginal-interface {
  position: relative;
  overflow: hidden;
}

.footer {
  align-self: stretch;
  height: 407px;
  background-color: var(--color-gray-200);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

.weboriginal-interface {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  line-height: normal;
  letter-spacing: normal;
}

.parent-container {
  display: flex;
  flex-direction: column;
}

.honours-and-awards-parent {
  align-self: stretch;
  flex-grow: 1;
  position: relative;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-shrink: 0;
  unicode-bidi: isolate;
  direction: ltr;
}

.view-more-button-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px var(--padding-13xl);
  gap: 31px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  box-sizing: border-box;
  width: 100%;
}

.honours-and-awards-parent {
  align-self: stretch;
  height: auto;
  position: relative;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-shrink: 0;
  padding: 20px;
  box-sizing: border-box;
}

.awards-list {
  position: relative;
  width: 100%;
  gap: var(--gap-13xl);
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
}

.award-items {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.award-item-headers {
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-xl);
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
  width: 100%;
}

.award-item-details {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.certificate-link {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--color-gray-200);
  border-radius: var(--br-481xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  white-space: nowrap;
}

  
  
  

/* body {
  font-family: Arial, sans-serif;
} */

.menu-bar {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  /* left: 0; */
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.menu-bar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu-bar a:hover {
  color: #f1f1f1;
}

.menu-bar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
}

span {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}



/* Other existing CSS styles */



/* Other existing CSS styles */


